<!DOCTYPE html>
<html lang="en">
    <head>
        {{ template "meta" }}
        <title>{{ Labname }} | {{ .Status }}</title>
        <link rel="stylesheet" type="text/css" href="/static/vendor/fomantic-ui/semantic.min.css">
        <link rel="stylesheet" type="text/css" href="/static/css/styles.css">
        <script src="/static/vendor/jquery/jquery.min.js"></script>
        <script src="/static/vendor/fomantic-ui/semantic.min.js"></script>
        <script src="/static/js/scripts.js"></script>
    </head>
    <body style="background-color: #222222;">
        {{ template "navigation" . }}
        <div id="navpad"></div>
        <div class="ui middle aligned center aligned grid container">
            <div class="row">
                <h1 class="ui inverted header" style="font-size: 6rem;">{{ .Status }}</h1>
            </div>
            <div class="row">
                <h2 class="ui inverted header">{{ .Error }}</h2>
            </div>
        </div>
    </body>
</html>
