<!DOCTYPE html>
<html lang="en">
    <head>
        {{ template "meta" }}
        <title>{{ Labname }}</title>
        <link rel="stylesheet" type="text/css" href="/static/vendor/fomantic-ui/semantic.min.css">
        <link rel="stylesheet" type="text/css" href="/static/css/styles.css">
        <script src="/static/vendor/jquery/jquery.min.js"></script>
        <script src="/static/js/scripts.js"></script>
    </head>
    <body>
        {{ template "navigation" . }}
        <div class="ui middle aligned center aligned grid">
            <div class="ui middle aligned center aligned container" style="margin-top: 20vh;">
                <h1>Welcome to {{ Labname }}</h1>
            </div>
        </div>
        <script src="/static/vendor/fomantic-ui/semantic.min.js"></script>
    </body>
</html>
