{{ define "navigation" }}
<div id="nav" class="ui inverted menu">
    <div class="ui container">
        <a href="/" class="header item">
            <img class="logo" src="/static/img/logo.png">
        </a>

        <div class="right menu">
            <a href="/consents" class="{{ if eq .ActiveNavigation "consents" }}active {{ end }}item">Consents</a>
            <a href="/profile/{{ .Profile.ID }}" class="{{ if eq .ActiveNavigation "profile" }}active {{ end }}item">Profile</a>
            <a class="item" onclick="logout();">Sign Out</a>
        </div>
    </div>
</div>
{{ if ne .ActiveNavigation "index" }}
<div id="navpad"></div>
{{ end }}
{{ end }}
